.page-header {
  height: 400px;
  width: 100%;
  background-image: url("../images/asfalt-dark.png");
  background-color: #D59832;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.username {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #ffffff;
}

.avatar-container img{
  padding-top: 10px;
}

form textarea {
  font-family: inherit;
  font-size: 79%;
  line-height: 1.15;
  margin: 0;

}
