/* Styling Main Container */

.container {
  width: 90%;
  margin: 0 auto;

}

form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  font-family: 'Source Sans Pro';
}
form textarea {
  flex-grow: 1;
  border-bottom: 3px solid;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  resize: none;
  line-height: 0.7;
  font-weight: bold;
}

.flex-container {
  margin: 20px 0 20px 0;
  display: flex;
}

.flex-container span {
  flex-grow: 1;
  text-align: end;
  font-family: 'Bungee';
}

.flex-container input {
  font-family: 'Bungee';
  background-color: #42549F;
  border: none;
  color: white;
}
.flex-container input:hover {
  cursor: pointer;
}

/* Styling Tweet */

.tweet-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  border: 3px solid;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  margin-bottom: 20px;

}

article header {
  display: flex;
  font-family: 'Source Sans Pro';
  margin: 0 20px 0 20px;
}

.avatar-container {
flex-grow: 0;
position: relative;
min-width: 80px; 
}

.avatar-container i {
  position: absolute;
  top: 9%;
  font-size: 72px;
  color: rgb(84, 81, 73)
}

.memmber-name{
  flex-grow: 0;
  font-weight: 400;
}

.tweeter-handle{
  color: rgba(84, 81, 73, 0.5);
  flex-grow: 1;
  text-align: end;
  display: none;
}

.tweet {
  margin: 30px 20px 0 20px;
  font-weight: 800;
}

article footer {
  margin: 40px 10px 0 10px;
  border-top: 2px solid;
  display: flex;
}

article footer p {
  margin-left: 10px;
}

.icons {
  width: 100px;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

.flag {
  width: 50px;
}
.heart {
  width: 50px;
}

.retweet {
  width: 50px;
}

/* Managing the hover state */

article:hover .tweeter-handle {
  display: inline-block;
}

article:hover {
  box-shadow: 5px 10px #888888;
  margin-bottom: 20px;
}

article:hover footer {
  margin: 40px 10px 0 10px;
  border-top: 3px solid;
  display: flex;
}

article:hover {
  border: 3px solid;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro';
  font-weight: bold;

}

article:hover .memmber-name {
  font-weight: bold
}

.too-long{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: red;
  border: 3px solid red;
  text-align: center;
  display: none;
}

.null{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  color: red;
  border: 3px solid red;
  text-align: center;
  display: none;
}

/* establishing tablet version and up*/
@media(min-width: 768px) {
  body {
    color: 
    #545149;
    font-size: 30px;
  }
}
