nav {
  height: 120px;
  background-image: url("../images/asfalt-dark.png");
  background-color: #D59832;
  color: #ffffff;
  z-index: 1;
  padding: 1.5em;
  position: sticky;
  top: 0;
  display: flex;
}

.title {
  font-family: 'Bungee';
  flex-grow: 1;
}

.new-one{
  font-family: 'Source Sans Pro';
}

nav i {
  color: tomato;
  font-size: 33px;
}

nav div i:hover {
  cursor: pointer;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* establishing style for the desktop version */

@media (min-width : 1024px) {
nav {
  background-color: #4056A1;
  background-image: none;
}
}